@import './filters.css';
@import './range.css';
@import './sort.css';

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  font-size: 20px;
  line-height: 40px;
}

.controls-title {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}