.range {

	width: 480px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgba(31, 112, 127, .3);
	backdrop-filter: blur(6px);
}
.count-slider-container {
	margin-bottom: 35px;
}

input[type="range"] {
  margin: 10px;
}

output {  
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278D9F;
}

.slider {
  display: inline-block; 
  height: 6px;
  width: 270px;
}

.count-slider-container,
.year-slider-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.count-slider-container {  
  margin-bottom: 35px;
}
.box {
  display: flex;
  align-items: center;
 
}

.css-187mznn-MuiSlider-root {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  cursor: pointer;
  touch-action: none;
  color: #232629;
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  width: 100%;
  padding: 13px 0;
}