@import './header.css';
@import './footer.css';
@import '../components/controls/controls.css';
@import '../components/cards/cards.css';
@import './noUI.css';
@import './main.css';


* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

.page {
  min-width: 100%;
  min-height: calc(100vh - 140px);
  background-image: url(../components/assets/images/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
}



